<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <!-- Barra de Busqueda -->
    <ion-row>
      <ion-col>
        <ion-searchbar  placeholder="Filtrar Lugares Por Nombre" 
                        showCancelButton="focus" 
                        (ionCancel)="getEstablishments()"
                        (ionChange)="searchName($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <!-- No hay establecimientos -->
    <ion-row *ngIf="emptyEstablishments">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-img src="../../../../assets/img/notFound.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <ion-text style="font-size: medium;"><b>Ups! No pudimos encontrar lugares cerca de ti. </b></ion-text>&nbsp;
            <ion-icon name="sad-outline"></ion-icon>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Lista de Establecimientos -->
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let site of establishments">
          <ion-card class="myCard">
            <img [src]="establishmentBanner + site.images.bannerImage + '.jpg'" class="bannerImage"/>
            <div class="myOverlay">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <ion-avatar class="avatar-radius">
                      <img [src]="establishmentProfile + site.images.profileImage + '.jpg'"/>
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                    <ion-card-title>
                      <b>{{site.name}}</b>
                    </ion-card-title>
                    <br/>
                    <ion-card-subtitle>
                      {{site.location.address}}
                    </ion-card-subtitle>
                  </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                  <ion-col></ion-col>
                  <ion-col>
                    <ion-button fill="outline" (click)="openEstablishmentDetail(site)">
                      Ver
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button fill="clear" (click)="makeFavorite(site)">
                      <ion-icon name="heart-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
