<ion-header no-border="true" translucent>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="cerrarModal()" color="danger">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="myCard">
            <img [src]="establishmentBanner + establishment.conf.images.bannerImage + '.jpg'" class="bannerImage"/>
            <div class="myOverlay">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <ion-avatar class="avatar-radius">
                      <img [src]="establishmentProfile + establishment.conf.images.profileImage + '.jpg'"/>
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                    <ion-card-title>
                      <b>{{establishment.name}}</b><br/>
                    </ion-card-title>
                    <br/>
                    <ion-card-subtitle>
                      <ion-label>
                        <b>Tel:</b>
                      </ion-label>
                       {{establishment.phone}}
                    </ion-card-subtitle>
                  </ion-col>
                </ion-row>
                <br/>
                <ion-row>
                  <ion-col>
                    <ion-text>
                      <b>Horarios:</b> 
                      <br/>
                      <p style="font-size: small;">Lunes: {{establishment.conf.hours.lunes}}</p><br/>
                      <p style="font-size: small;">Martes: {{establishment.conf.hours.martes}}</p><br/>
                      <p style="font-size: small;">Miércoles: {{establishment.conf.hours.miercoles}}</p><br/>
                      <p style="font-size: small;">Jueves: {{establishment.conf.hours.jueves}}</p><br/>
                      <p style="font-size: small;">Viernes: {{establishment.conf.hours.viernes}}</p><br/>
                      <p style="font-size: small;">Sábado: {{establishment.conf.hours.sabado}}</p><br/>
                      <p style="font-size: small;">Domingo: {{establishment.conf.hours.domingo}}</p><br/>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>
                      {{establishment.conf.description}}
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-slides [options]="slideOpts">
                      <ion-slide *ngFor="let image of establishment.conf.gallery">
                          <img [src]="establishmentGallery + image + '.jpg'" style="width: auto; height: 100px!important;" (click)="openPhoto(image)">
                        
                      </ion-slide>
                    </ion-slides>
    
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col></ion-col>
                  <ion-col size="6">
                    <ion-button fill="outline" (click)="openEstablishmentGallery()" expand="block">
                      Ver Galería
                    </ion-button>
                  </ion-col>
                  <ion-col></ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card>
          <div id='map' style='width: 400px; height: 300px;'></div>
          <ion-row>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-button shape="round" fill="outline" (click)="showMapOptions()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
